@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


body{
    font-family: 'Open Sans', sans-serif;
    /* background-color: #020405; */
    background-image: url(https://images.hdqwalls.com/download/earth-rocket-minimalism-1600x1200.jpg);
    background-size:cover;
    color: white;
    margin: 0;
}

input[type=radio]{

}

.center{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.isolated{
    margin: 2em;
}

.fat{
    height: 80vh;
}

.half{
    width: 50%;
}

.wide{
    width: 80%;
}